* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar {
  height: 50px;
  border-bottom: 2px solid rgb(8, 139, 143);
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  background-color: white;
}

.navbar-label {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid white;
}

.navbar-label:hover {
  border-bottom: 2px solid black;
}

.margin-no-drawer {
  padding-top: 51px;
  box-sizing: border-box;
  transition-property: padding;
  transition-duration: 400ms;
  position: absolute;
  height: 100%;
  width: 100%;
}

.margin-with-drawer {
  padding-top: 301px;
  box-sizing: border-box;
  transition-property: padding;
  transition-duration: 400ms;
  position: absolute;
  height: 100%;
  width: 100%;
}

.button-no-display {
  all: initial;
  cursor: pointer;
}

.drawer-open {
  transform: translateY(51px);
  transition-property: transform;
  transition-duration: 400ms;
}

.drawer-closed {
  transform: translateY(-300px);
  transition-property: transform;
  transition-duration: 400ms;
}

.drawer {
  border-bottom: 2px solid rgb(8, 139, 143);
  height: 250px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  background-color: white;
}

.drawer-label {
  border-bottom: 2px solid white;
  margin: 0px;
  text-decoration: none;
  color: black;
}

.drawer-label:hover {
  border-bottom: 2px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 50px;
  justify-content: space-around;
  height: 400px;
}

.error {
  color: red;
}

.centre-style {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.signup-method {
  display: inline;
  cursor: pointer;
}

.flex-wrap-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.signup-container {
  width: 200px;
  height: 400px;
}

.logo {
  font-size: 24.5px;
  font-weight: 500;
  color: rgb(8, 139, 143);
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.login-input {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: block;
  border: 0px;
  background-color: rgb(207, 226, 226);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 7px;
}

.login-signup-form {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  padding: 7px;
  box-sizing: border-box;
}

.login-signup-button {
  width: 100%;
  height: 36px;
  border: 0px;
  border-radius: 7px;
  background-color: #e4ebec;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-bottom: 7px;
}

.login-button:hover {
  background-color: #b6bdbd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(207, 226, 226) inset !important;
}

.login-google {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 386px;
  width: 100%;
}

.login-google-container {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  padding-top: "0px";
}

.centre-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-login-signup {
  text-align: center;
  font-weight: 450;
  margin-top: 50px;
}

.admin-container {
  margin: 20px;
  display: flex;
}

.bold {
  font-weight: 700;
}

.image-event-card {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.card-details {
  margin-top: 3px;
  margin-bottom: 3px;
}
