* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar {
  height: 50px;
  border-bottom: 2px solid rgb(8, 139, 143);
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  background-color: white;
}

.navbar-label {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid white;
}

.navbar-label:hover {
  border-bottom: 2px solid black;
}

.margin-no-drawer {
  padding-top: 51px;
  box-sizing: border-box;
  transition-property: padding;
  transition-duration: 400ms;
  position: absolute;
  height: 100%;
  width: 100%;
}

.margin-with-drawer {
  padding-top: 301px;
  box-sizing: border-box;
  transition-property: padding;
  transition-duration: 400ms;
  position: absolute;
  height: 100%;
  width: 100%;
}

.button-no-display {
  all: initial;
  cursor: pointer;
}

.drawer-open {
  transform: translateY(51px);
  transition-property: transform;
  transition-duration: 400ms;
}

.drawer-closed {
  transform: translateY(-300px);
  transition-property: transform;
  transition-duration: 400ms;
}

.drawer {
  border-bottom: 2px solid rgb(8, 139, 143);
  height: 250px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  background-color: white;
}

.drawer-label {
  border-bottom: 2px solid white;
  margin: 0px;
  text-decoration: none;
  color: black;
}

.drawer-label:hover {
  border-bottom: 2px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 50px;
  justify-content: space-around;
  height: 400px;
}

.error {
  color: red;
}

.centre-style {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.signup-method {
  display: inline;
  cursor: pointer;
}

.flex-wrap-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.card-container {
  width: 300px;
  height: 400px;
}

.signup-container {
  width: 200px;
  height: 400px;
}

.logo {
  font-size: 24.5px;
  font-weight: 500;
  color: rgb(8, 139, 143);
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  border-bottom: 2px solid white;
}
